<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>ToDo</title>
    </head>

    <body>
        <div id="app">
            <input type="text" v-model="newItem">
            <button v-on:click="addTodo">追加</button>

            <ul>
                <li v-for="item in items">
                    <label>
                        <button v-on:click="deleteTodo(item)">削除</button> {{ item.title }}
                    </label>
                </li>
            </ul>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>

</html>